<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Quotes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">
    <style>
        body {
            min-width: 320px;
        }

        .card {
            font-family: 'Arizonia', cursive;
            min-width: 200px;
            max-width: 200px;
            font-size: 1.2rem;
            flex-shrink: 0;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-family: 'Arial';
        }
    </style>

</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <h1>Quotes</h1>
                </div>
            </div>
            <div class="mb-5">
                <div class="col-12">
                    <label for="quotesProgresBar">Quotes added</label>
                    <div class="progress" style="height: 20px;">
                        <div id="quotesProgresBar" class="progress-bar" role="progressbar" :style="{ width: (this.quotes.length * 10) + '%' }" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row mb-5 justify-content-center">
                <div class="col-8 col-auto">
                    <div class="form-group">
                        <label for="quotesFormControlTextarea" class="font-weight-bold">Quote</label>
                        <textarea class="form-control" id="quotesFormControlTextarea" rows="3" v-model="newQuote.text"></textarea>
                    </div>
                    <div class="form-group" align="center">
                        <button type="button" class="btn btn-primary" @click="addQuote()">Add Quote</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 d-flex flex-wrap justify-content-md-start justify-content-center">
                    <div class="card p-3 mr-3 mb-4 position-relative" v-for="quote in quotes" :key="quote['.key']">
                        {{ quote.text }}
                        <button type="button" class="close position-absolute" aria-label="Delete" @click="removeQuote(quote)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>


    <script>
        var config = {
            apiKey: "AIzaSyCusgkR7PkVDirX4eVJ_uFHvUTGCWg_BJg",
            authDomain: "veon-1744e.firebaseapp.com",
            databaseURL: "https://veon-1744e.firebaseio.com",
            projectId: "veon-1744e",
            storageBucket: "veon-1744e.appspot.com",
            messagingSenderId: "672697949744"
        };
        firebase.initializeApp(config);

        var quotesRef = firebase.database().ref('quotes');

        var vm = new Vue({
            el: '#app',
            name: 'Quotes',
            data: {
                newQuote: {
                    text: ''
                }
            },
            firebase: {
                quotes: quotesRef
            },
            methods: {
                addQuote: function () {
                    if (this.quotes.length < 10) {
                        quotesRef.push(this.newQuote)
                        this.newQuote.text = ''
                    } else {
                        alert('Для добавления новых цитат удалите одну из добавленных');
                    }
                },
                removeQuote: function (quoute) {
                    quotesRef.child(quoute['.key']).remove()
                },

                /* addQuote() {
                    if (this.quotes.length < 10) {
                        this.quotes.push({
                            id: Math.round(Math.random() * (1000000 - 1) + 1),
                            text: this.currentQuote,
                        });
                        this.currentQuote = '';
                    } else {
                        alert('Превышено количество допустимых цитат');
                    }

                },
                removeQuote(quouteId) {
                    this.quotes = this.quotes.filter(quote => {
                        return quote.id !== quouteId;
                    })
                } */
            },
            /*mounted() {
                 this.loadQuotes(); 
            }*/
        });
    </script>

</body>

</html>